#new_ticket {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  margin: 0 0 40px 0;

  h3 {
    width: 100%;
  }

  label {
    display: flex;
    padding: 15px;
    width: calc(50% - 30px);
    align-items: center;

    h5 {
      width: 150px;
      margin: 0;
      padding: 0;
    }
    input {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 3px;
    }
  }
  button {
    background: #0a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
  }
}
#tickets {
  .ticket {
    &:nth-child(even) {
      background: #fff;
    }

    display: flex;

    div {
      padding: 10px;
      flex: 1;
    }
    &__id {
      width: 120px;
    }
    &__drafts {
      text-align: right;
      width: 50px;
    }
  }
}
