#new_user {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 0 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#new_user h3 {
  width: 100%;
}
#new_user label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#new_user label h5 {
  width: 120px;
  margin: 0;
  padding: 0;
}
#new_user label input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}
#new_user button {
  background: #0a0;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

#users .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#users .user:nth-child(even) {
  background: #fff;
}
#users .user div {
  padding: 10px;
}
#users .user__name {
  width: 250px;
}
#users .user__email {
  width: 250px;
}
#users .user__created {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

#tickets .ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#tickets .ticket:nth-child(even) {
  background: #fff;
}
#tickets .ticket div {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#tickets .ticket__id {
  width: 120px;
}
#tickets .ticket__drafts {
  text-align: right;
  width: 50px;
}